.info 
{
	font-size:18px;
	padding-left:15px;
}
h1
{
	text-align:center;
}
h2
{
	text-align:center;
}
p
{
	font-weight:bold;
	text-align:center;
	font-size:18px;
}
.school-experience
{
	position:absolute;
	float: left;
	top:215px;
}
.myinfo
{
	position:absolute;
	top:5%;
	left:33%;
}
.work-experience
{
	padding-left:15px;
}