.info 
{
	font-size:18px;
	padding-left:15px;
}
h1
{
	text-align:center;
}
h2
{
	text-align:center;
}
p
{
	font-weight:bold;
	text-align:center;
	font-size:18px;
}
.school-experience
{
	position:absolute;
	top:220px;
}
.myinfo
{
	position:absolute;
	top:50px;
	left:480px
}
.work-experience
{
	padding-left:15px;
}